<nav role="navigation" aria-label="Main navigation">
  <ul class="navigation-list">
    {%- assign ordered_pages_list = site.html_pages | where_exp:"item",
    "item.nav_order != nil" -%} {%- assign unordered_pages_list =
    site.html_pages | where_exp:"item", "item.nav_order == nil" -%} {%- if
    site.nav_sort == 'case_insensitive' -%} {%- assign sorted_ordered_pages_list
    = ordered_pages_list | sort_natural:"nav_order" -%} {%- assign
    sorted_unordered_pages_list = unordered_pages_list | sort_natural:"title"
    -%} {%- else -%} {%- assign sorted_ordered_pages_list = ordered_pages_list |
    sort:"nav_order" -%} {%- assign sorted_unordered_pages_list =
    unordered_pages_list | sort:"title" -%} {%- endif -%} {%- assign pages_list
    = sorted_ordered_pages_list | concat: sorted_unordered_pages_list -%} {%-
    for node in pages_list -%} {%- unless node.nav_exclude -%} {%- if
    node.parent == nil and node.title -%}
      {%- assign first_level_url = node.url | absolute_url -%} {%- endif -%}
      <a
        href="{{ node.url | absolute_url }}"
        class="navigation-list-link{% if page.url == node.url %} active{% endif %}"
        >{{ node.title }}</a
      >
      <ul class="navigation-list-child-list">
        {%- for child in children_list -%} {%- unless child.nav_exclude -%}

          {%- if page.url == child.url or page.parent == child.title -%} {%-
          assign second_level_url = child.url | absolute_url -%} {%- endif -%}
          <a
            href="{{ child.url | absolute_url }}"
            class="navigation-list-link{% if page.url == child.url %} active{% endif %}"
            >{{ child.title }}</a
          >
          {%- if child.has_children -%} {%- if site.nav_top_show > 2 or page.url
          == child.url or page.parent == child.title or page.url == node.url and
          site.nav_active_show != 1 -%} {%- endif -%} {%- endif -%}
        </li>
        {%- endunless -%} {%- endfor -%}
      </ul>
 {%- endunless -%} {%- endfor -%}
  </ul>
</nav>
